@font-face {
    font-family: "Roboto";
     src: local("Roboto"),         
         url("../fonts/roboto.woff") format("woff"),
         url("../fonts/roboto.woff2") format("woff2");  
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"), local("Roboto-Medium"),          
          url("../fonts/robotomedium.woff") format("woff"),
          url("../fonts/robotomedium.woff2") format("woff2");  
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"),          
          url("../fonts/robotobold.woff") format("woff"),
          url("../fonts/robotobold.woff2") format("woff2");  
    font-weight: 700;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;    
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #849d8f;
    min-width: 900px;    
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden{          
   position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);     /* что делать с этой строкой? на нее ругается валидотор. я сдела 1 в 1 с лекцией */
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-wrap{
    width: 100%;
    z-index: 2;
}
        

.index-bg-1{
    color: #ffffff;
    background-color: #849d8f;
    background-position: top;
 }

.index-bg-2{
    color: #ffffff;
    background-color: #8996a6;
    background-position: top;
}

.index-bg-3{
    color: #ffffff;
    background-color: #9d8b84;
    background-position: top;
}

.btn-red {
    display: inline-block;
    cursor: pointer;
    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    padding: 11px 22px;
    border-radius: 25px;
    border-width: 0;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-red:hover{
    background-image: linear-gradient(to top, rgb(237,112,94) 0%, rgb(245,134,105) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 1);
} 

.btn-red:active{
    background-image: linear-gradient(to top, rgb(242,96,62) 0%, rgb(216,71,50) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 1);
} 


.area{
    box-sizing: border-box;
    width: 100%;
    height: 44px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;
    background: #ffffff;    
    font: inherit;
   /* font-weight: 700;   как назначить только введеному тексту жирность болд?*/
    padding: 0 15px;
    color: #000000;
}

.area:hover{
    border: 2px solid #c7c6c5;
}

.container{
    position: relative;    
    max-width: 1200px;
    min-width: 900px; 
    margin: 0 auto;     
}

.container-content{    
    position: relative;
    z-index: 5;
    padding-left: 2.25%;
    padding-right: 2.25%;    
}


/* ------------------------ HEADER ------------------------*/

.index-header{
    margin-bottom: 530px;    
}

.main-header{
    display: flex;
    flex-direction: column;    
}

.header-navigation{
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
}

.index-logo{
    width: 154px;
    margin-right: 22px;
    margin-top: 10px;
}

.site-navigation{
    width: 380px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none; 
    margin-top: 22px;
}

.header-info{
    width: 170px;
    margin-left:auto;
}

.navigation-item .main-menu{
    display: inline-block;
    padding: 7px 14px;
    border-radius: 35px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;    
}

.type-navigation a{
    display: inline-block;
    padding: 6px 20px;
    margin-bottom: 2px; 
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    min-width: 105px;
    max-width: 300px;
    color: #323232;
    margin-top: 2px; 
}

.type-navigation li:last-child{
    margin-bottom: 4px;
}

.type-navigation-new a{   
    font-weight: 700;
    padding: 9px 20px;
}

.type-navigation-new{
    position: relative;
}

.type-navigation-new a::after{
    content: "";
    position: absolute; 
    bottom: 0;
    left: 10px;
    z-index: 20;
    width: 130px;
    height: 1px;
    background: rgba(0, 0, 0, 0.2);
    margin-left: auto;
    margin-right: auto;
}


.navigation-item .main-menu:hover {    
    text-decoration: none;
    color: #333333;
    background-color: #f7f6f3;
    
}

.navigation-item .main-menu:active{
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);  
}

.type-navigation a:active{
    background-color: #f6b5a5;
}

.navigation-item .curent{
    background-color: #d07058;
    text-decoration: none;    
}

.navigation-item{
    position: relative;
}

.navigation-item ul{
    display: flex;
    flex-direction: column;    
    position: absolute;
    top: 36px;   /* как сделать как по макету отступ и чтобы не слетал ховер при выборе субменю ??*/
    left: 0;   
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;   
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);    
    border-radius: 5px;
    background-color: #f8f7f4;
    overflow: hidden;
}

.navigation-item:hover > ul{
    display: block; 
}

.type-navigation li:hover{
    background-color: #fbded7;    
    border-radius: 0;
}

.user-block{
    display: flex;
    width: 285px;
    margin-left:auto;
    margin-top: 22px;
    justify-content: flex-end;
}

.user-block-point{
    position: relative;
}

.btn-search{
    display: block;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background: rgba(255, 255, 255, 0.2) url(../img/loupe.svg) center no-repeat; 
    margin-right: 10px;
}

.btn-search:hover{
    background: url(../img/loupe-black.svg) center no-repeat; 
    color: #323232;
    background-color: #f8f7f4;  
}

.search-form-wrap{
    display: none;
    box-sizing: border-box;
    position: absolute;
    top: 40px;  /* как сделать как по макету отступ и чтобы не слетал ховер при выборе субменю ??*/
    right: 11px; 
    width: 340px;
    height: 85px;
    color: #323232; 
    background-color: #f8f7f4;
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 20px 15px;
}

.user-block-point:hover > .search-form-wrap{
    display: block;
}

.user-block-btn{
    position: relative;
    display: block;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2); 
    padding-left: 45px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 35px;    
}


.btn-login{
    margin-right: 10px;
}

.btn-login::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 19px;
    background-image: url(../img/entrance-white.svg);    
}

.btn-login:hover{
   color: #323232;
   background-color: #f8f7f4;  
}

.btn-login:hover::before{
    background-image: url(../img/entrance.svg);      
}

.btn-cart-empty::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 20px;
    background-image: url(../img/basket.svg);     
}


.btn-cart-noempty{
    color: #323232;
    background-color: #f8f7f4;  
}

.btn-cart-noempty::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 20px;
    background-image: url(../img/basket-red.svg);    
}


.login-form-wrap{
    display: none;   
    position: absolute;
    box-sizing: border-box;
    width: 277px;
    height: 214px;    
    top: 40px;    /* как сделать как по макету отступ и чтобы не слетал ховер при выборе субменю ??*/
    right: 11px; 
    color: #323232; 
    background-color: #f8f7f4;
    border-radius: 6px;
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    padding: 20px;
}

.login-form-wrap form{
    display: flex;
    flex-wrap: wrap;    
}

.user-block-point:hover > .login-form-wrap{
    display: block;
}

.login-form-wrap input{
   margin-bottom: 20px;
}

.login-form-option{
    width: 122px;
    margin-left: auto;
}


.login-form-option a{
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    color: #323232; 
}

.login-form-option a:hover,
.login-form-option a:active{
    color: #e84d37;
}

.cart-list-hidden{
    display: none;
    position: absolute;
    width: 540px;
    height: 242px;
    top: 40px;
    left: -420px;
    border-radius: 6px;
    padding: 21px 15px; 
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #323232;
    background-color: #f8f7f4;
    box-sizing: border-box;
}

.cart-list-wrap{         
    display: flex;
    flex-direction: column;    
}

.user-block-point:hover > .cart-list-hidden{
    display: block;
}

.cart-list{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.cart-item{
    min-height: 45px;
    padding-top: 10px;
    display: flex;
    position: relative;  
}

.cart-item:last-child{
    border-bottom: 1px solid #cacac7;
}

.delete-cart-item{
    width: 14px;
    height: 14px;
    font-size: 0;
    border: 0;
    position: absolute;
    top: 10px;
    left: 2px;
    cursor: pointer; 
    background-color: transparent;
}

.delete-cart-item::after,
.delete-cart-item::before{
    content: "";
    position: absolute;
    top: 5px;
    left: 0px;
    width: 14px;
    height: 1px;    
    background: #231f20;    
}

.delete-cart-item::after{
    transform: rotate(45deg);
}

.delete-cart-item::before{
    transform: rotate(-45deg);
}

.cart-item-name{
    box-sizing: border-box;
    width: 308px;
    padding-left: 75px;
}

.catr-icon-1::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 26px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-image: url(../img/catr-item-icon1.jpg); 
}

.catr-icon-2::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 26px;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-image: url(../img/catr-item-icon2.jpg); 
}

.cart-item-weight{
    box-sizing: border-box;
    width: 120px; 
    padding-left: 12px;
}

.cart-item-price{
  font-weight: 400;
  color: #b2b2b1;
}

.cart-item-total{
    box-sizing: border-box;
    width: 83px;
    padding-left: 14px;
    
}

.total-price{
   margin-left: auto;
   font-size: 15px;
   line-height: 18px;
   font-weight: 700;
   margin-bottom: 15px;
}

.cart-list-wrap .btn-red{
    margin-left: auto;
}


.header-info {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
}

.header-info p{
    margin: 0;
    margin-bottom: 3px;
    text-align: right;
}

.phone-header{
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}



/* ------------------------ MAIN ------------------------*/

.main-slider{    
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 4;
    top: -650px;      
}

.slide{
    width: 100%;
    height: 800px;      
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: no-repeat;
}


.slide-1{
    
    background-image: url("../img/big1.png");
    background-position: 50% 0px;
    background-repeat: no-repeat;
}

.slide-2{
    display: none;
    background: url("../img/big2.png");
    background-position: 50% 0px;
    background-repeat: no-repeat;

}

.slide-3{
    display: none;
    background-image: url("../img/big3.png");
    background-position: 50% 0px;
    background-repeat: no-repeat;
}

.slide p{
    margin: 0;
    display: block;
    text-align: center;
    width: 700px;                       
    margin-top: 390px;
    font-size: 60px;
    line-height: 61px;
    font-weight: 700;
    margin-bottom: 27px;
} 


.slider-controls-wrap{
    position: absolute;
    top: 555px;
    left: 2.25%;
}


.slider-control {    
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid #ffffff;
    font-size: 0;
    background-color: rgba(255, 255, 255, 1);    
}

.other-slide{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0); 
}

.other-slide:hover {    
    background-color: rgba(255, 255, 255, 0.4); 
}


.other-slide:active{
    background-color: rgba(255, 255, 255, 1); 
}

 

.btn-red-big{
    font-size: 32px;
    line-height: 44px;
    padding: 10px 41px;
    border-radius: 40px;    
}

.big-list{
    display: flex; 
    flex-wrap: wrap;    
}

.big-item{
    box-sizing: border-box;
    width: calc(100% /2 - 2.3% /2);  
    margin-right: 2.3%;
    margin-bottom: 20px;    
}

.big-list .big-item:nth-child(2n){
  margin-right: 0;
} 

.main-promo{
    margin-bottom: 40px;
}

.promo p{
    margin: 16px 0;
    
}

.promo b{
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;  
}

.promo a{
    position: absolute;
    bottom: 22px;
    right: 20px;
}

.promo{
    position: relative;
    padding: 15px 20px 20px;
    min-height: 230px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 14px;
}

.promo-raspberries{  
    background: #944165 url("../img/raspberries-bg.jpg") no-repeat;      
}

.promo-chocolate{    
    background: #4b2b1f url("../img/chocolate-bg.jpg") no-repeat;      
}

.breadcrumbs-list{              /* это должно быть в хэдере в разметке html ?*/
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrumbs-point{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;  
    color: #ffffff; 
    margin-right: 20px;
    position: relative;
}


.breadcrumbs-point a{
    color: #ffffff;    
}

.breadcrumbs-point a::after{                      
    content: "»";                  
    position: absolute;
    top: 0;
    right: -15px;    
}

.catalog-title{
    margin: 0;
    padding: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700; 
    margin-bottom: 30px;
}

.filters-form-wrap fieldset{
    border: none;
    padding: 0;
    margin: 0;
}

/* ---------- Фильтры ----------*/

.filters-form-wrap{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;  
    color: #ffffff;
    margin-bottom: 38px;
}

.top-filters{    
    display: flex;
    justify-content: space-between;
    width: 860px;
    margin-bottom: 15px;
    align-items: flex-end;
}

.low-filters{   
    display: flex;
    width: 860px;
    align-items: flex-end;
}

.filter-type{
    width: 195px;
}

.filter-price{
    width: 220px;
}

.filter-fat{
    width: 415px;
}

.filter-fat-list{
    margin-left: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    padding: 9px 20px;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.2);  
}

.filter-fat-option{
    padding-left: 30px;
}

.filter-fillers-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;    
    padding: 9px 17px;
    border-radius: 17px;
    background-color: rgba(255, 255, 255, 0.2);  
}


.filter-fillers-item{
    position: relative;
    padding-left: 30px;
    padding-right: 24px;
}

.filter-fillers-item:last-child{
    padding-right: 0px;
}

.filter-fillers-item::before{
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    width: 18px;
    height: 18px;
    border: 2px solid #ffffff;
    border-radius: 3px;
}

/*.filter-fillers-item input[type="checkbox"]:checked::before{
    content: "";
    position: absolute;
    width: 27px;
    height: 23px;
    left: -2px;
    top: -2px;
    background-image: url(../img/checkbox-on.svg);
}*/



.filters-form-wrap legend{
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 6px;
}

.range-wrap{
    position: relative;
    width: 150px;
    height: 36px;
    border-radius: 18px;    
    background-color: rgba(255, 255, 255, 0.2);  
}

.range-bar{
    position: absolute;
    left: 25px;
    top: 16px;
    width: 100px;
    height: 4px;     
    background-color: rgba(255, 255, 255, 0.7);  
}

.price-value{    
    margin: 0 auto;
    z-index: 10;
    width: 70px;
    height: 4px;    
    background-color: rgba(255, 255, 255, 1);  
}

.range-bar-switch{
    z-index: 11;
    width: 20px;
    height: 20px; 
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);  
}

.min-price-switch{
   position: absolute;
    left: 40px;
    top: 8px; 
}

.max-price-switch{
    position: absolute;
    right: 40px;
    top: 8px; 
}

.filters-button{
    margin-left: auto;
    cursor: pointer;    
    padding: 7px 29px;
    font-weight: 500;
    border: 2px solid #ffffff;
    border-radius: 18px;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.2);  
}

.filters-button:hover{
    border: 0;
    padding: 9px 31px;
    color: #323232;
    background-color: #fbfcfb; 
}

.filters-button:active{
    border: 0;
    padding: 9px 31px;
    color: #323232;
    background-color: #eaeaea;
    box-shadow: inset 0px 3px 2px 0px rgba(105, 105, 105, 1);
}


/* ---------- Фильтры ----------*/


.catalog-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 44px;
       
}

.catalog-item{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: calc((100% - (2.2% * 3)) / 4 );             
    margin-right: 2.2%; 
    margin-bottom: 36px;
}

.catalog-item:nth-child(4n){
   margin-right: 0; 
}


.product-price{
    position: absolute;
    top: 60%;                  /* не такая привязка на 900  ширине */
    left: 0;
    font-size: 45px;
    line-height: 45px;    
    font-weight: 700;
    margin-right: auto;
}

.product-price span{
    font-size: 28px;
    line-height: 45px;    
    font-weight: 700;
    padding-left: 25px;
}

.product-price span::before{
    content: "";
    position: absolute;
    top: 7px;
    right: 40px;
    width: 31px;
    height: 36px;
    background:  url("../img/ruble.svg");
}



.catalog-item::after{
    content: "";
    display: none;
    position: absolute;
    top: -2%;
    left: -5%;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.2); 
    z-index: -1;
    width: calc(100% + 10%);
    height: calc(100% + 24%);
    border-radius: 5px;
}

a.fast-view{
    display: none;
    position: absolute;
    bottom: -56px;
    margin-left: auto;
    margin-right: auto;
}



.catalog-item:hover{
    z-index: 10;  
}

.catalog-item:hover::after{
    display: block
}

.catalog-item:hover > .fast-view{
    display: block;
}

.hit::before{
    content: "";
    position: absolute;
    width: 61px;
    height: 61px;
    top: 0;
    left: 0;
    background: url("../img/hit.svg");
}

.item-title {
    order: 1;
    margin: 0;
    margin-top: 10px;
}

.item-title a{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;    
}



.item-description img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.catalog-item p{
    margin: 0;
    
}





.advantages-list{
    display: flex;
    flex-wrap: wrap;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232; 
    border-radius: 15px;    
    padding: 26px 20px;
    margin-bottom: 40px;
    background: #f0e4cc url("../img/wafer-bg.jpg") repeat;    
}

.advantages-title{
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

/* -------------------- преимущества----*/
.advantages{    
    width: calc((100% - 2.2% - 57px * 2) / 2 ); 
    position: relative; 
    padding-left: 57px;
    margin: 0;
    margin-top: 20px;
    margin-right: 2.2%;
}

.advantages-list p:nth-of-type(2n){
    margin-right: 0px;
}

.advantages-list p:nth-of-type(1):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/ice-cream.svg);                         
}

.advantages-list p:nth-of-type(2):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/cow.svg); 
}

.advantages-list p:nth-of-type(3):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/eco.svg); 
}

.advantages-list p:nth-of-type(4):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/thermometer.svg); 
}


 /*-------------------- преимущества----*/
.user-content{
    margin-bottom: 40px;
}

.news{    
    padding: 25px 20px;
    min-height: 220px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #5a5a5a;
    background: #ffffff url(../img/strawberry-bg.jpg)no-repeat;
    background-position: center;
    border-radius: 14px;    
}


.wrap-subscription-form{
    background: url(../img/post-bg.svg)no-repeat;
    min-height: 220px; 
    border-radius: 14px;
    padding: 4px;
}


.subscription-form{
    position: relative;
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    color: #5a5a5a;    
    background-color: #f8f7f4;
    border-radius: 14px;
    padding: 30px 20px;           
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    height: calc(100% - 60px);
    
}

.wrap-subscription-form .area{
    width: 100%;
    margin-right: 11px;
}

.news p{
    margin: 0;
    font-weight: 500;
}

.article-caption{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}


.subscription-form p{
    margin: 0;
}

.subscription-form form{
    display: flex;
}


.subscription-form .btn-red{
    margin-left: auto;
}


.map{
    position: relative; 
    width: 100%; 
}

.map-area{    
    height: 430px;       
    background: url(../img/map.jpg); 
    background-size: cover;
    overflow: hidden;
    background-position: center;
}


.map-info{
    position: absolute;
    right: 2.25%;
    bottom: 64px;
    padding: 30px 25px;       
    width: 243px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
    background-color: rgba(255, 255, 255, 0.98); 
    border-radius: 14px;       
}

.map-info p{
    margin: 0;
    margin-bottom: 17px; 
}

.map-info p:last-of-type{
    margin-bottom: 22px;
}


.map-info b{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;    
}

.phone-map{
    display: inline-block;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700; 
    color: #323232;
    text-decoration: none;
}


.pagination-list{
    display: flex; 
    justify-content: flex-end;
    margin: 0;
    padding: 0 20px;
    list-style: none;
    position: relative;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    margin-bottom: 31px;
}

.pagination-item a{
    display: inline-block;    
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    padding: 5px 9px;
    border-radius: 14px;
    margin-right: 2px;
}

.pagination-item-current a{
    display: inline-block;
    text-align: center;    
    padding: 5px 9px;
    border-radius: 14px;
    color: #323232;
    background-color: #ffffff;
    margin-right: 2px;
}

.pagination-item-prev,
.pagination-item-next{
    position: relative;
    font-size: 0;
}


.pagination-item-prev::before{
    content: "";                     
    position: absolute;
    top: 7px;
    left: -22px;
    width: 8px;
    height: 12px;
    background-image: url(../img/prev.svg); 
    transform: rotate(180deg);
    
}

.pagination-item-next::after{
    content: "";                     
    position: absolute;
    top: 7px;
    right: -15px;
    width: 8px;
    height: 12px;
    background-image: url(../img/next.svg); 
    cursor: pointer;
}


.pagination-item a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}


.pagination-item a:active{
    color: #323232;
    background-color: #ffffff;  
}

/* ------------------------ FOOTER ------------------------*/

.main-footer{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    padding-top: 15px;
    padding-bottom: 27px;
}

.social-list{
    display: flex;    
    width: 190px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-info{
    width: 420px;    
}

.developer{
    width: 190px;   
}


.social-list a{
    font-size: 0;
}

.social-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 11px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);       
}

.social-btn:hover,
.social-btn:active{
    border-color: rgba(255, 255, 255, 0.7); 
}


.social-btn-tw{
    background: url(../img/twitter.svg)no-repeat;
    opacity: 0.8;
}

.social-btn-inst{
    background: url(../img/instagram.svg)no-repeat;
    opacity: 0.8;
}

.social-btn-fb{
    background: url(../img/fb.svg)no-repeat;
    opacity: 0.8;
}

.social-btn-vk{
    background: url(../img/vk.svg)no-repeat; 
    opacity: 0.8;
}

.social-btn-tw:hover,
.social-btn-inst:hover,
.social-btn-fb:hover,
.social-btn-vk:hover{
    opacity: 1;
}

.social-btn-tw:active,
.social-btn-inst:active,
.social-btn-fb:active,
.social-btn-vk:active{
    opacity: 0.8;
    box-shadow: inset 0px 2px 1px 0px rgba(136, 136, 136, 1);
}

.footer-info-list {
    display: flex;
    flex-wrap: wrap;    
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: flex-start;
}


.footer-info-list li{
    box-sizing: border-box;
    position: relative;
    padding-left: 50px;
    width: 190px;
    color: black;
}

.footer-info-list li:nth-child(2n){
    padding-left: 0;
}

.footer-info-list a{
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400; 
    color: #ffffff;  
}


.footer-info-providers a{   
    font-weight: 700;  
}

.footer-info-providers::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 28px;
    width: 15px;
    height: 13px;
    background: url("../img/heart.svg") no-repeat;
}


.footer-info-list a:hover,
.footer-info-list a:active{
    color: #ffbc9e;
}

.developer{
    margin-left: 0;
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    color: #ffffff;       
}

.developer p{
    margin: 0;    
}

.developer-name{
    color: #ffffff;    
}

.developer-name:hover,
.developer-name:active{
    color: #ffbc9e;
}


/* ------------------------ POPUP ------------------------*/

.feedback-form{
   display: none;
   color: #323232; 
   background-color: #f8f7f4;
}

.feedback-form-title{
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
}