@font-face {
    font-family: "Roboto";
     src: local("Roboto"),         
         url("../fonts/roboto.woff") format("woff"),
         url("../fonts/roboto.woff2") format("woff2");  
    font-weight: 400;
    font-style: normal;
}


@font-face {
    font-family: "Roboto";
    src: local("Roboto Medium"), local("Roboto-Medium"),          
          url("../fonts/robotomedium.woff") format("woff"),
          url("../fonts/robotomedium.woff2") format("woff2");  
    font-weight: 500;
    font-style: normal;
}


@font-face {
    font-family: "Roboto";
    src: local("Roboto Bold"), local("Roboto-Bold"),          
          url("../fonts/robotobold.woff") format("woff"),
          url("../fonts/robotobold.woff2") format("woff2");  
    font-weight: 700;
    font-style: normal;
}


body{
    margin: 0;
    padding: 0;
    
    min-width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background-color: #849d8f;
/*  background-color: #8996a6;
    background-color: #9d8b84; */   
 
}


img {
    width: 100%;
}

.visually-hidden {           /* поработать над этим взять из лекции */
    display: none;
    font-size: 0px;
}

.container{
    width: 1146px;
    padding-left: 27px;
    padding-right: 27px;
    margin: 0 auto;
}

.btn-red {
    display: inline-block;
    cursor: pointer;
    outline: none; 
    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-red:hover,
.btn-red:focus{
    background-image: linear-gradient(to top, rgb(237,112,94) 0%, rgb(245,134,105) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0);
} 

.btn-red:active{
    background-image: linear-gradient(to top, rgb(242,96,62) 0%, rgb(216,71,50) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24);
} 



/* ------------------------ HEADER ------------------------*/

.site-navigation,
.type-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-item a{
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
}

.navigation-item a:hover,
.navigation-item a:focus {
    text-decoration: none;
    color: #333333;
    background-color: #f7f6f3;
    padding: 9px 14px;
    border-radius: 35px;
}

.navigation-item a:active{
  background-color: #ededed;
  box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 1);
  
}

.navigation-item .curent{
    background-color: #d07058;
    padding: 9px 14px;
    border-radius: 35px;
    text-decoration: none;    
}

.type-navigation-item a{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #323232;    
}

.type-navigation li:first-child{    /* Почему ничего не выбирается !!!!!!!!!!!*/     
     font-weight: 700;
     color: red;
}


.type-navigation-item a:hover,
.type-navigation-item a:focus {
    background-color: #fbded7;
    padding: 6px 220px;
    border-radius: 0;
    
}

.type-navigation-item a:active {
    background-color: #f6b5a5;
}

.btn-search{
    display: block;
    background-color: #a1b4a9;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-image: url(../img/loupe.svg) center no-repeat; 
}

.search-form-wrap{
   color: #323232; 
   background-color: #f8f7f4;
}

.user-block-btn{
    position: relative;
    font-size: 14px;
    line-height: 16px;
    font-weight: 500; 
    text-decoration: none;
    color: #ffffff;
    background-color: #a1b4a9; 
    padding-left: 45px;
    padding-right: 18px;
    padding-top: 9px;
    padding-bottom: 9px;
    border-radius: 35px;
    margin-right: 10px;
}

.login-form-wrap{
   color: #323232; 
   background-color: #f8f7f4;
}

.login-form-option{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #323232; 
}

.btn-login::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 19px;
    background-image: url(../img/entrance.svg);     
}


.btn-cart::before{
    content: "";
    position: absolute;
    top: 6px;
    left: 16px;
    width: 21px;
    height: 20px;
    background-image: url(../img/basket.svg);     
}

.cart-list-wrap{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    color: #323232;
    background-color: #f8f7f4;
}

.total-price{
   font-size: 15px;
   line-height: 18px;
   font-weight: 700; 
}


.header-info {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #ffffff;
}

.phone-header{
    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}



/* ------------------------ MAIN ------------------------*/


.slide-1{
    background: url("../img/big1.png") center no-repeat;
}

.slide-2{
    background: url("../img/big2.png")center no-repeat;    
}

.slide-3{
    background: url("../img/big3.png")center no-repeat;   
}

.slider-control {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    margin-right: 8px;
    border: 2px solid #ffffff;
    font-size: 0;
    background-color: rgba(255, 255, 255, 1);
}

.other-slide{
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0); 
}

.other-slide:hover,
.other-slide:focus{
    outline: none; 
    background-color: rgba(255, 255, 255, 0.4); 
}

.slide p{
    display: block;
    text-align: center;
    width: 700px;
    margin-top: 390px;
    font-size: 60px;
    line-height: 61px;
    font-weight: 700;
}  

.btn-red-big{
    font-size: 32px;
    line-height: 44px;
    padding: 10px 41px;
    border-radius: 40px;    
}

.promo{
    width: 560px;
    min-height: 230px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    border-radius: 14px;
}

.promo b{
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;  
}


.promo-raspberries{
    background: #944165 url("../img/raspberries-bg.jpg") no-repeat;  
}


.promo-chocolate{
    background: #4b2b1f url("../img/chocolate-bg.jpg") no-repeat;  
}


.breadcrumbs{
    list-style: none;
}

.breadcrumbs-point{
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;  
    color: #ffffff;    
}


.breadcrumbs-point a{
    color: #ffffff;    
}


.catalog-title{
    margin: 0;
    font-size: 35px;
    line-height: 41px;
    font-weight: 700;      
}

.filters-form-wrap{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;  
    color: #ffffff;   
}


.filters-form-wrap legend{
    font-size: 14px;
    line-height: 16px;  
    
}

.catalog-list{
    list-style: none;
}

.catalog-item{    
    width: 267px;                
    margin-right: 26px;
}

.item-title a{
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;    
}

.product-price {
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;  
}


.advantages-list{
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #323232; 
    border-radius: 15px;    
    padding: 26px 20px;
    background: #f0e4cc url("../img/wafer-bg.jpg") repeat;    
}

.advantages-title{
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    margin: 0;
    
}

/* -------------------- преимущества----
.advantages{
    display: inline-block;
    position: relative;
    width: 483px;                   
    padding-left: 57px;
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.advantages-list p:nth-of-type(2n){
    margin-right: 0px;
}

.advantages-list p:nth-of-type(1):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/ice-cream.svg);                         
}

.advantages-list p:nth-of-type(2):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/cow.svg); 
}

.advantages-list p:nth-of-type(3):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/eco.svg); 
}

.advantages-list p:nth-of-type(4):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background-image: url(../img/thermometer.svg); 
}


 -------------------- преимущества----*/


.news{ 
    width: 560px;
    min-height: 220px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #323232;
    background: #ffffff url(../img/strawberry-bg.jpg)no-repeat;
    border-radius: 14px;   
}

.article-caption{
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #323232;
}

.subscription-form{
    width: 560px;
    min-height: 220px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 400;
    color: #5a5a5a;
    background-color: #f8f7f4;
    border-radius: 14px;   
}


.map-area{
    background: url(../img/map.jpg)no-repeat;
}

.map-info{
    width: 303px;
    min-height: 305px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #323232;
    background-color: rgba(255, 255, 255, 0.98); 
    border-radius: 14px;       
}


.map-info b{
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;  
}

.phone-map{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700; 
    color: #323232;
    text-decoration: none;
}


.pagination-list{
    list-style: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
}

.pagination-item a{

    color: #ffffff;
    text-decoration: none;
}

.pagination-item-current a{
    display: inline-block;
    width: 28px;
    height: 28px;
    color: #323232;
    background: #ffffff;
    border-radius: 50%;
}


/* ------------------------ FOOTER ------------------------*/

.social-list,
.footer-info-list{
    list-style: none;
}

.social-list a{
    font-size: 0;
}

.social-btn {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin-right: 11px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.5);       
}

.social-btn-tw{
    background: url(../img/twitter.svg)no-repeat;
    opacity: 0.8;
}

.social-btn-inst{
    background: url(../img/instagram.svg)no-repeat;
    opacity: 0.8;
}

.social-btn-fb{
    background: url(../img/fb.svg)no-repeat;
    opacity: 0.8;
}

.social-btn-vk{
    background: url(../img/vk.svg)no-repeat; 
    opacity: 0.8;
}


.footer-info-item a{
    font-size: 13px;
    line-height: 18px;
    font-weight: 400; 
    color: #ffffff;     
}

.footer-info-item .providers{
   font-weight: 700;  
}


.developer{
    font-size: 12px;
    line-height: 18px;
    font-weight: 400; 
    color: #ffffff;       
}

.developer-name{
    color: #ffffff;    
}

/* ------------------------ POPUP ------------------------*/

.feedback-form{
   color: #323232; 
   background-color: #f8f7f4;
}

.feedback-form-title{
    margin: 0;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500; 
}