body{
    min-width: 1200px;
    font-family: "Roboto", "Arial", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #ffffff;
    background: green;
}


.container{
    width: 1146px;
    padding-left: 27px;
    padding-right: 27px;
    margin: 0 auto;
}

.btn-red {
    display: inline-block;
    cursor: pointer;
    background-image: linear-gradient(to top, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    vertical-align: top;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 22px;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.btn-red:hover{
    background-image: linear-gradient(to top, rgb(237,112,94) 0%, rgb(245,134,105) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0);
} 

.btn-red:active{
    background-image: linear-gradient(to top, rgb(242,96,62) 0%, rgb(216,71,50) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24);
} 

/* ------------------------слайдер------------------------*/

.visible-hidden {
    display: none;
}


.slide{
    position: relative;
   /* height: 500px;
    width: 500px;
    background: red;
    display: none; */
}


#slide-1:checked~.index-background {
    background-color: #849d8f;
}

#slide-2:checked~.index-background {
    background-color: #8996a6;
}

#slide-3:checked~.index-background {
    background-color: #9d8b84;
}

/* не могу разобраться как определить активный лейбл */


.slider-controls label {
    display: inline-block;
    width: 21px;
    height: 21px;
    border-radius: 12px;
    margin-right: 8px;
    border: 2px solid #ffffff;
    cursor: pointer;
    font-size: 0;
}

.slide p{
    display: block;
    text-align: center;
    width: 700px;
    margin-top: 390px;
    font-size: 60px;
    line-height: 61px;
    font-weight: bold;
}  


.btn-red-big{
    position: absolute;
    top: 0;                      /*настроить кнопки*/
    right: 0;
    font-size: 32px;
    line-height: 44px;
    padding: 10px 41px;
    border-radius: 40px;    
}






/* ------------------------ HEADER ------------------------*/



/* ------------------------ MAIN ------------------------*/










/* ------------------------карточки товара------------------------*/




.catalog-item{    
    position: relative;
    border: 1px solid green;
    width: 265px;                 /*   267 если убратть бордер*/
    margin-right: 26px;
}


.catalog-item:nth-child(4n){
    margin-right: 0;
}


.item-title a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    line-height: 22px;
}

















/* ------------------------ преимущества------------------------*/

.advantages-list{
    border-radius: 15px;    
    background: #f0e4cc url("../img/wafer.jpg") repeat;
    color: #323232;
    padding: 26px 20px;
}

.advantages-title{
    font-size: 24px;
    line-height: 30px;
    margin: 0;
}

.advantages{
    display: inline-block;
    position: relative;
    width: 483px;                   
    padding-left: 57px;
    margin: 0;
    margin-top: 20px;
    margin-right: 20px;
}

.advantages-list p:nth-of-type(2n){
    margin-right: 0px;
}

.advantages-list p:nth-of-type(1):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background: #ffffff;                          /* заменить на картинку  */
}

.advantages-list p:nth-of-type(2):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background: red;                             /* заменить на картинку  */
}

.advantages-list p:nth-of-type(3):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background: #000000;                         /* заменить на картинку  */
}

.advantages-list p:nth-of-type(4):before{
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    width: 49px;
    height: 49px;
    background: blue;                           /* заменить на картинку  */ 
}


/* ------------------------ FOOTER ------------------------*/



/* ------------------------ POPUP ------------------------*/

